# Electron 镜像
electron_mirror=https://cdn.npmmirror.com/binaries/electron/

#Electron Builder 镜像
electron-builder-binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder/

# npm 全局镜像
registry=https://registry.npmmirror.com
cache=D:\temp